CompileFlags:
  Add:
    - -I/home/akio/code/dev/wslib/vendor

# Diagnostics:
#   Suppress:
#     - '*'

InlayHints:
  Enabled: No
  BlockEnd: No
  Designators: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24
